<template lang="html">
  <div>
    <table class="table table is-bordered is-striped is-narrow is-hoverable is-fullwidth" v-if="dataBody.length != 0">
      <thead>
        <tr>
          <th v-for="(head, index) in dataHead" :key="index">{{ head.name }}</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(body, index) in dataBody" :key="index">
          <td v-for="(value, index_value) in body">
            <span v-if="index_value != 'image'">{{ value }}</span>
            <div class="icon" v-else>
              <img :src="value" />
            </div>
          </td>
          <td class="is-right">
            <div class="dropdown is-hoverable">
              <div class="dropdown-trigger">
                <a class="" aria-haspopup="true" aria-controls="dropdown-menu4">
                  <span class="icon is-small">
                    <font-awesome-icon fas icon="ellipsis-v" />
                  </span>
                </a>
              </div>
              <div class="dropdown-menu" id="dropdown-products" role="menu">
                <div class="dropdown-content">
                  <div class="dropdown-item">
                    <ul>
                      <li><a :href="false" @click="deleteItem(body.id)">Eliminar</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="no-data" v-else>
      <span>
        <span class="icon is-large">
          <font-awesome-icon fas icon="bell" />
        </span>
        No hay productos aun
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'cell-products',
  props: {
    dataHead: Array,
    dataBody: Array,
    state: Array,
    commitName: String,
    type: String
  },
  methods: {
    deleteItem(id) {
      let vm = this
      vm.$store.commit(vm.commitName, id)
      localStorage.setItem(vm.type, JSON.stringify(vm.state))
      location.reload()
    }
  }
}
</script>

<style lang="css">
</style>
