<template lang="html">
  <div class="create-user">
    <div class="field">
      <label class="label">Nombre del producto</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" type="text" placeholder="Nombre" v-model="product_data.name">
        <span class="icon is-small is-left">
          <font-awesome-icon fas icon="cart-plus" />
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">Precio</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" type="number" placeholder="Precio" v-model="product_data.price">
        <span class="icon is-small is-left">
          <font-awesome-icon fas icon="money-check-alt" />
        </span>
      </div>
    </div>
    <div class="field">
      <label class="label">Imagen del producto</label>
      <div class="file">
        <label class="file-label">
          <input class="file-input" type="file" name="resume" @change="readFile">
          <span class="file-cta">
            <span class="file-icon">
              <font-awesome-icon fas icon="upload" />
            </span>
            <span class="file-label">
              Subir imagen…
            </span>
          </span>
        </label>
      </div>
    </div>

    <div class="image">
      <img src="" id="image-product" alt="">
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" @click="create">Crear</button>
      </div>
      <div class="control">
        <router-link to="/products" class="button is-text">Cancelar</router-link>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  data() {
    return {
      product_data: {
        id: '',
        name: '',
        price: 0,
        image: ''   
      },
      message_error: '',
      error_status: false
    }
  },
  methods: {
    readFile(event) {
      let vm = this
      if (event.target.files[0]) {

        var FR = new FileReader();

        FR.addEventListener("load", function(e) {
          document.getElementById("image-product").src = e.target.result;
          vm.product_data.image = e.target.result;
        });

        FR.readAsDataURL( event.target.files[0] );
      }

    },
    create() {
      let vm = this
      let last_index = vm.$store.state.products.length + 1
      vm.product_data.id = last_index
      vm.$store.commit('addNewProduct', vm.product_data)
      localStorage.setItem('products', JSON.stringify(vm.$store.state.products))
      vm.$router.push('/products')
    }
  },
  mounted() {
    let vm = this
    if (!localStorage.getItem('authenticated') && !localStorage.getItem('is_admin')) {
      this.$router.push('/login')
    }
  }
}
</script>

<style lang="sass">
</style>
