<template lang="html">
  <div>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div id="navbarOptions" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <router-link to="/products/create" class="button is-primary"><strong><font-awesome-icon fas icon="plus" /> Crear producto</strong></router-link>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <list-app :data-list="products" :state="$store.state.products" commit-name="deleterProduct" type="products"></list-app>
  </div>
</template>

<script>
import ListApp from '../List'

export default {
  name: 'products-list',
  data() {
    return {
      products: {
        head: [
          { name: 'ID' },
          { name: 'Nombre' },
          { name: 'Precio' },
          { name: 'Imagen' }
        ],
        body: [

        ]
      }
    }
  },
  components: {
    ListApp
  },
  mounted () {
    let vm = this
    if (!localStorage.getItem('authenticated') && !localStorage.getItem('is_admin')) {
      vm.$router.push('/login')
    } else {
      vm.products.body = JSON.parse(localStorage.products)
    }
  }
}
</script>

<style lang="sass">
</style>
