<template lang="html">
  <div class="create-user">
    <div class="field">
      <label class="label">Nombre</label>
      <div class="control">
        <input class="input" type="text" placeholder="Nombre" v-model="user_data.name">
      </div>
    </div>

    <div class="field">
      <label class="label">Username</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" :class="{ 'is-danger' : error_status && $store.state.type_error == 'USERNAME' }" type="text" placeholder="Username" v-model="user_data.user">
        <span class="icon is-small is-left">
          <font-awesome-icon fas icon="user" />
        </span>
        <p class="help is-danger" v-if="error_status && $store.state.type_error == 'USERNAME'">{{ message_error }}</p>
      </div>
    </div>

    <div class="field">
      <label class="label">Email</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" :class="{ 'is-danger' : error_status && $store.state.type_error == 'EMAIL' }" type="email" placeholder="Email" v-model="user_data.email">
        <span class="icon is-small is-left">
          <font-awesome-icon fas icon="envelope" />
        </span>
        <p class="help is-danger" v-if="error_status && $store.state.type_error == 'EMAIL'">{{ message_error }}</p>
      </div>
    </div>

    <div class="field">
      <label class="label">Contraseña</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" type="password" placeholder="Contraseña" v-model="user_data.password">
        <span class="icon is-small is-left">
          <font-awesome-icon fas icon="key" />
        </span>
      </div>
    </div>

    <div class="field" v-if="$store.state.is_admin">
      <label class="label">Tipo de usuario</label>
      <div class="control">
        <label class="radio">
          <input type="radio" value="ADMIN" v-model="user_data.type">
          Administrador
        </label>
        <label class="radio">
          <input type="radio" value="USER" v-model="user_data.type">
          Usuario
        </label>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" @click="create">Crear</button>
      </div>
      <div class="control">
        <router-link to="/users" class="button is-text">Cancelar</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'create-user',
  data() {
    return {
      user_data: {
        id: '',
        name: '',
        user: '',
        email: '',
        password: '',
        type: 'USER'
      },
      message_error: '',
      error_status: false,
    }
  },
  methods: {
    create() {
      let vm = this
      vm.message_error = ''
      vm.$store.state.type_error = ''
      vm.error_status = false
      let last_index = vm.$store.state.users.length + 1
      vm.user_data.id = last_index
      vm.$store.commit('validateUser', vm.user_data)
      if (vm.$store.state.type_error == 'USERNAME') {
        vm.message_error = 'El usuario ya existe'
        vm.error_status = true
        return false
      }
      if (vm.$store.state.type_error == 'EMAIL') {
        vm.message_error = 'El email ya existe'
        vm.error_status = true
        return false
      }
      localStorage.setItem('users', JSON.stringify(vm.$store.state.users))
      if (vm.$store.state.authenticated && vm.$store.state.is_admin)
        vm.$router.push('/users')
      else
        vm.$router.push('/login')
    }
  },
  mounted() {
    let vm = this
    if (!localStorage.getItem('authenticated') && !localStorage.getItem('is_admin')) {
      this.$router.push('/register')
    }
  }
}
</script>

<style lang="sass">
</style>
