<template lang="html">
  <div>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div id="navbarOptions" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <router-link to="/users/create" class="button is-primary"><strong><font-awesome-icon fas icon="plus" /> Crear usuario</strong></router-link>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <list-app :data-list="users" :state="$store.state.users" commit-name="deleterUser" type="users"></list-app>
  </div>
</template>

<script>
import Vue from 'vue'
import ListApp from '../List'

export default {
  name: 'users-list',
  data() {
    return {
      users: {
        head: [
          { name: 'ID' },
          { name: 'Name' },
          { name: 'User' },
          { name: 'Email' },
          { name: 'Password' },
          { name: 'Type' }
        ],
        body: []
      }
    }
  },
  components: {
    ListApp
  },
  mounted() {
    let vm = this
    if (!localStorage.getItem('authenticated') && !localStorage.getItem('is_admin')) {
      this.$router.push('/login')
    } else {
      vm.users.body = JSON.parse(localStorage.users)
    }
  }
}
</script>

<style lang="sass">
</style>
