<template lang="html">
  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <router-link to="/" class="navbar-item"><img src="@/assets/logo.jpg" alt="Logo"></router-link>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item" v-if="!$store.state.authenticated">
          <div class="buttons">
            <router-link to="/register" class="button is-primary"><b>Registrarse</b></router-link>
            <router-link to="/login" class="button is-light">Iniciar sesión</router-link>
          </div>
        </div>
        <div class="navbar-item" v-else>
          Bienvenido, {{ $store.state.user_data.name }}
          <span class="icon"> <img src="@/assets/user.svg" alt=""> </span>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'header-app'
}
</script>

<style lang="sass" scoped>
  .navbar-item
    img
      max-height: 2.75rem
  .icon
    margin: 0 15px !important
</style>
