<template lang="html">
  <aside class="menu">
    <p class="menu-label">
      General
    </p>
    <ul class="menu-list">
      <li><a><router-link to="/">Pagina principal</router-link></a></li>
    </ul>
    <p class="menu-label" v-if="$store.state.is_admin">
      Administración
    </p>
    <ul class="menu-list" v-if="$store.state.is_admin">
      <li><a><router-link to="/products">Productos</router-link></a></li>
      <li><a><router-link to="/users">Usuarios</router-link></a></li>
    </ul>
    <p class="menu-label" v-if="$store.state.authenticated">
      Mi cuenta
    </p>
    <ul class="menu-list" v-if="$store.state.authenticated">
      <li><a @click="logout">Cerrar sesión</a></li>
    </ul>
  </aside>
</template>

<script>
export default {
  name: 'sidebar-app',
  methods: {
    logout() {
      let vm = this
      vm.$store.commit('logout')
      vm.$router.push('/')
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
