<template lang="html">
  <div>
    <cell-users
      :dataHead="dataList.head"
      :dataBody="dataList.body"
      :state="state"
      :commitName="commitName"
      :type="type"
      v-if="type == 'users'">
    </cell-users>
    <cell-products
      :dataHead="dataList.head"
      :dataBody="dataList.body"
      :state="state"
      :commitName="commitName"
      :type="type"
      v-else>
    </cell-products>
  </div>
</template>

<script>

import CellUsers from './cells/CellUsers'
import CellProducts from './cells/CellProducts'

export default {
  name: 'list-app',
  props: {
    dataList: Object,
    state: Array,
    commitName: String,
    type: String
  },
  components: {
    CellUsers,
    CellProducts
  }
}
</script>
