<template lang="html">
  <div class="carousel-interest">
    <div class="slider-content" v-if="$store.state.products.length != 0">
      <a href="#!" v-for="(product, index) in $store.state.products" :key="index">
        <div class="content-link">
          <div class="icon-int image">
            <img :src="product.image" :alt="product.name">
          </div>
          <div class="info-product">
            <div class="name-product">{{ product.name }}</div>
            <div class="price-product">$ {{ product.price }}</div>
          </div>
        </div>
      </a>
    </div>
    <div class="no-data" v-else>
      <span>
        <span class="icon is-large">
          <font-awesome-icon fas icon="bell" />
        </span>
        No hay productos aun
      </span>
    </div>
  </div>
</template>

<script>
import { tns } from 'tiny-slider/src/tiny-slider';

export default {
  name: 'slider-app',
  props: {
    image: String,
    name: String
  },
  mounted() {
    var slider_interest = tns({
      container: '.slider-content',
      items: 2,
      slideBy: 2,
      mouseDrag: true,
      swipeAngle: false,
      autoplay: false,
      loop: false,
      nav: false,
      gutter: 50,
      responsive: {
        768: {
          items: 4,
          slideBy: 1
        }
      }
    })
  }
}
</script>

<style lang="sass">
  @import "~tiny-slider/dist/tiny-slider"

  .slider-content
    & .content-link
      width: 100%
      & .description
        text-align: center

  .info-product
    padding: 5px
    color: #717070
    & .name-product
      font-size: 14px
    & .price-product
      font-size: 20px
      font-weight: bold

</style>
