<template>
  <div id="app" class="section">
    <header-app></header-app>
    <div class="columns">
      <div class="column is-3" v-if="$root.$route.path != '/login'">
        <sidebar-app></sidebar-app>
      </div>
      <div class="column">
        <router-view/>
      </div>
    </div>
  </div>
</template>

<script>
import SidebarApp from './components/layouts/sidebar'
import HeaderApp from './components/layouts/header'

export default {
  name: 'App',
  components: {
    SidebarApp,
    HeaderApp
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
