<template lang="html">
  <div class="column is-4 is-offset-4">
    <h1 class="title">Inicio de sesión</h1>
    <div class="field">
      <label class="label">Usuario</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" type="text" placeholder="Usuario" v-model="login_data.user">
        <span class="icon is-small is-left">
          <font-awesome-icon fas icon="user" />
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">Contraseña</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" type="password" placeholder="Contraseña" v-model="login_data.password">
        <span class="icon is-small is-left">
          <font-awesome-icon fas icon="key" />
        </span>
        <p class="help is-danger" v-if="credentials_status">Credenciales incorrectas</p>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" @click="send">Ingresar</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      login_data: {
        user: '',
        password: ''
      },
      credentials_status: false
    }
  },
  methods: {
    send() {
      let vm = this
      vm.$store.commit('validate', vm.login_data)
      vm.credentials_status = false
      if (vm.$store.state.authenticated) {
        localStorage.setItem("authenticated", true)
        if (vm.$store.state.is_admin) {
          localStorage.setItem("is_admin", true)
          localStorage.setItem("users", JSON.stringify(vm.$store.state.users))
        } else {
          localStorage.setItem("is_admin", false)
        }
        vm.$router.push('/')
      } else {
        vm.credentials_status = true
        localStorage.setItem("authenticated", false)
      }
    }
  }
}
</script>

<style lang="css">
</style>
