<template lang="html">
  <create-user></create-user>
</template>

<script>
import CreateUser from '../users/Create'

export default {
  components: {
    CreateUser
  }
}
</script>

<style lang="css">
</style>
