@import '~bulma/bulma'

@import '~@fortawesome/fontawesome-svg-core/styles'

.no-data
  font-size: 1.3rem
  text-align: center

.dropdown
  &.is-hoverable
    width: 100%
  & a
    color: #272727
    display: block
